body {
    background:#f1f5f8;
    color:#222;
    height: 800vh;
}


.outer-container {

    text-align: center;
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 1rem;
    position: fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}

button {
    width: 100px;
    
}

